@charset "UTF-8";
*
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100vw;
}

/*cabecalho*/

header{
    background-color: #06c2bf;
    display: block; 
    height: 15vh;
    width: 100%;   
}

.logo{
    width: 115px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;
    left:35vw;
       
}
nav{
    width: 100vw;
    text-align: center;
    margin: 11px 0px;
    padding-top: 5px;
    border-top: 1px solid rgb(105, 103, 103); 
    
}
a{
    text-decoration: none;
    font-size: 16px;
    color:#f7f2f2;
    font-weight: 200;
    margin: 0px 3px;
    padding: 10px;
    text-shadow: 0px 1px 2px rgb(138, 127, 127);
    
}
menu{
    width: 100%;
    text-align: center;
    margin: 5px auto;
    flex-wrap: wrap;
    padding: 3px 0px;
    display: flex;
    gap: 5px;
}
menu>a{
    color: #050505;
    border-bottom: 1px solid#06c2bf;
    margin: 4px auto;
    padding: 3px 5px;
    font-weight: 450;

}
a:hover{
    color: #a79898;
    cursor: pointer;
}
main{
    width: 100%;
}
main> h2{
    text-align: center;
    font-size: 20px;
    color: #6b6161;
}
.ortopedia{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}
.ortopedia> h3{
    color: #6b6161;
    padding: 12px 0px;
    margin: 5px auto;
    font-size: 17px;
}
.ortopedia> p{
    color: #6b6161;
    padding: 5px 0px;
    font-size: 16px;
}
.horarios1{
    display: flex;
    width: 100%;
    height: 170px;
    justify-content: center;
   margin:  2px auto;
}
.horarios1> img{
    display: none;
}
th{
background-color: #06c2bf;
color: #ffffff;
margin: 0 5px;
padding: 5px 10px;
}
.lista1> td{
    background-color: #cac4c4;
    color: #6b6262;
    font-size: 13px;
    width: 100%;
}
td{
    font-size: 13px;
}