@charset "UTF-8";

/*
Tamanho de telas para cada dispositivo
320px ate 425px para CELULAR
426px ate 768 px para TABLET
769px para DESKTOP
*/

*
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100vw;
}

/*cabecalho*/

header{
    background-color: #06c2bf;
    display: block; 
    height: 12vh;
    width: 100%;   
}

.logo{
    width: 120px;
    margin: auto;
    align-items: center;
    position: relative;
    left:35vw;
       
}
nav{
    width: 100vw;
    text-align: center;
    margin: 15px 0px;
    padding-top: 5px;
    border-top: 1px solid rgb(105, 103, 103); 
}
a{
    text-decoration: none;
    font-size: 15px;
    color:#f7f2f2;
    font-weight: 200;
    margin: 0px 5px;
    padding: 1px;
    text-shadow: 0px 1px 2px rgb(138, 127, 127);
    
}
/*Seção background*/

main{
    width: 100vw;
    height: 100vh;
}
.background{
    width: 100%;
    background-image: url(../imagens/recepcao.png);
    height: 20vh;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

}
.background h1{
    width: 400px;
    font-size: 20px;
    color: #f7f2f2;
    padding-top: 100px;
    font-weight: bold;
    text-align: center;
    margin: 0 5px;
}
/*Seção Sobre a Clínica*/
.sobre{
    width: 100%;
    height: 100px;
    margin: 10px auto;
    padding: 2px;
   
}
.sobre h3{
    margin: auto;
    text-align: center;
    color: #6d7d7d;
    font-size: 19px;
    
}
.sobre p{
    font-size: 15px;
    margin: 8px 2px;
    text-align: center;
    color: #6d7d7d;
    
} 
/*Remover imagem do mobile*/

.imagem-main{
    display: flex;
    margin: 15px auto;
    width: 100vw;
   
}
.imagem-main img{

    display: none;
    height: 100px;
    margin: 0 auto;
}
/*formulário*/
.formulario{
   width: 60vw;
   margin: 2px auto;

}
.formulario> h3{
    font-size: 15px;
    padding: 8px 0px;
    color: #6d7d7d;
    
}
.formulario> ul{
    font-size: 14px;
    padding:5px 0px;
    color: #6d7d7d;
   
}
/*Cards*/
.sobre2 h3{
    margin: auto;
    text-align: center;
    color: #6d7d7d;
    font-size: 19px;
}
.sobre2 p{
    font-size: 14px;
    margin: 10px 3px;
    text-align: center;
    color: #6d7d7d;
    padding: 5px;
    
} 
.tres-card{
    display: flex;
    width: 100%;
    height: 70%;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
   
}
small{
    font-size: 14px;
    font-weight: 200;
    color: #6d7d7d;
    padding: 0px 24px;
    margin: 2px;
}

 
.card> img{
    width: 100%;
    height: 80%;
    display: block;
    margin:0 auto;
    

    
}
.card{
    box-shadow: 1px 2px 1px rgb(204, 196, 196);
    height: 190px;
    width: 250px;  
   
}
/*Botõ e contato*/
 .contato> p{
    font-size: 14px;
    margin: 5px auto;
    text-align: center;
    color: rgb(97, 95, 95);
    padding: 0px 5px;
 }

 button:hover{
    background-color: rgb(45, 114, 114);
    cursor: pointer;
 }

 
button{
    background-color: rgb(59, 185, 185);
    width: 100%;
    height: 32px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(219, 215, 206);
}
.botao1{
    width: 50%;
    height: 40px;
    padding: 15px 5px;
    margin: 15px auto;
    
   
   
 }
 .contato> h3{
    margin: 2px auto;
    padding: 10px 2px;
    text-align: center;
    color: #6d7d7d;
    font-size: 19px;
 }
 span{
    font-weight: bold;
 }
 .contato> iframe{
    width: 100vw;
    height: 20vh;
    margin: 0 auto;
    
    justify-content: center;
 }
 /*Footer*/
 .final{
    width: 100vw;
    background-color: rgb(1, 87, 87);
    margin: auto;
    display: block;
    height: 20vh;
   
   
 }
 .img-logo2{
    margin: auto;
    width: 30%;
    padding: 5px 0px;
 }

 .logo2{
    width: 120px;
    margin-top: 12px;
 }
 .final> p{
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 5px 3px;
 }

